In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import time
from sqlalchemy import inspect, create_engine
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.58M/6.58M [00:00<00:00, 19.2MB/s]

In [ ]:
# HOSTNAME = "localhost"
# PORT = 5432
# DATABASE = "diapers_db"
# USERNAME = "postgres"
# PASSWORD = "password"
# path = f'postgresql+psycopg2://{USERNAME}:{PASSWORD}@{HOSTNAME}:{PORT}/{DATABASE}'
# engine = create_engine(path)

In [ ]:
# conn = engine.connect()

In [4]:
#Three websites searching Data Analyst positions
#dice = "https://www.dice.com/jobs?q=data%20analyst&countryCode=US&radius=30&radiusUnit=mi&page=1&pageSize=20&language=en&eid=S2Q_,bw_0"
indeed = "https://www.indeed.com/jobs?q=data+analyst"
#glass_lyst = "https://www.glassdoor.com/Job/data-analyst-jobs-SRCH_KO0,12.htm?suggestCount=0&suggestChosen=false&clickSource=searchBtn&typedKeyword=data%2520analyst"


browser.visit(indeed)

In [5]:
html = browser.html
html[0:500]

'<html dir="ltr" lang="en" class="js-focus-visible" data-js-focus-visible=""><head>\n    <link rel="shortcut icon" href="/images/favicon.ico">\n    <title>Data Analyst Jobs, Employment | Indeed.com</title>\n    <meta http-equiv="content-type" content="text/html; charset=utf-8">\n    <meta name="description" content="28,371 Data Analyst jobs available on Indeed.com. Apply to Data Analyst, Entry Level Data Analyst, Senior Data Analyst and more!">\n    <meta name="keywords" content="Data Analyst Jobs, Em'

In [6]:
soup = BeautifulSoup(browser.html, "html.parser")
#print(soup.prettify())

In [19]:
soup= BeautifulSoup(browser.html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [8]:
#Find code to loop through web page and pull the title of the job and possibly the location, then find code to click the job and acquire the salary.
jobs = soup.find_all('div', {'class': 'cardOutline'})
len(jobs)

15

In [13]:
#
job = jobs[0]
title = job.find('a', {"class": 'jcs-JobTitle'}).text
link = "www.indeed.com" + job.find('a', {"class": 'jcs-JobTitle'})["href"]

'www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Btxs39KmTzjw_u_hUXcyTcLpNeUj18C2Nw5A7DCW0FWEaocruVgz_JdyOkwRWkR1-6FDpKBan7Rwj_OkizRiqsRTb19epOF0Ps6jRYB0UEQg6rHaG4lZL6vq092dq27Ot5j-27VST4fuO4TQH6NaYdwCUrThawGouccUkdZNwWbMVHGycw9-7D-xYwgaT0PUxjs4xFPpQidLy33dIXrV9LPsBJ1NaPvQ88nT2pfQQh-6JvUK4UtSfQysIAhB79r6uullea4KitKQqUCTjunppWNIwJDvcH-nFSwSUK2hyfSc3xsvhkbxtjKlAPr5gB1Lv_0a-Pm7zINHIC1Wr_-eeKQmUcPbrVfHZ1e431tPJfP8dx1s2w9WMESAVlfNcjqE6ByxLXDvRKiie-GmdN7tt86rLjpHNaiEdREeckkbojD9bwYgbHEJTFb9l5Sg6v7JZlswZ5_3t3JDZk8UE7pId9p2FlFGm3xWyNhDSrQvYoHoSfZbigf3d2fqqxB-sp_QCJDC4b9HJKuni_reqpJrIys8cVyiBjinIgY5QzKrRcnWWY7Wy3bybptI3X0ErrOCHuxwA2zry4zE5gZRH63aM1pV5vLqjTBecI02d0NTXlnNLf2XT0HBVcPVnfx_BCTiJbyAeXlXWGemrAYKX1OWz7zqdaz8LGxnF4-6S-ZYEc68iCkGaB5vn1JfHisTDXUd1b_EGKegnWZ9Upkuau_EFxj0ZCyvhtMuDRTbDMHXqBKIfOwz7tZqvf&xkcb=SoAd-_M3VWrRa0AINb0LbzkdCdPP&p=0&fvj=0&vjs=3'

In [14]:
company = job.find('a', {"class": 'companyOverviewLink'}).text
company_link = "www.indeed.com" + job.find('a', {"class": 'companyOverviewLink'})["href"]

In [17]:
rating = job.find('span', {"class": 'ratingNumber'}).text
rating

'2.9'

In [18]:
loc = job.find('div', {"class": 'companyLocation'}).text
loc

'Plano, TX 75074'

In [19]:
salary = job.find('div', {"class": 'salary-snippet-container'}).text
salary

'$116,800 a year'

In [22]:
job.find('svg', {"aria-label": "Job type"}).parent.text

'Full-time'

In [40]:
#
rows = []
browser.visit(indeed)
for i in range(1, 15):
    
    html = browser.html
    soup = BeautifulSoup(browser.html, "html.parser")
    jobs = soup.find_all('div', {'class': 'cardOutline'})
    
    
    for job in jobs:
        title = job.find('a', {"class": 'jcs-JobTitle'}).text
        link = "www.indeed.com" + job.find('a', {"class": 'jcs-JobTitle'})["href"]

        company_name = job.find('span', {'class': 'companyName'})
        if company_name: 
            company = company_name.text
        else:
            company = None
        
        company_con = job.find('a', {"class": 'companyOverviewLink'})
        if company_con: 
            company_link = "www.indeed.com" + company_con["href"]
        else:
            company_link = None

        rating_con = job.find('span', {"class": 'ratingNumber'})
        if rating_con: 
            rating = rating_con.text
        else:
            rating = None


        loc = job.find('div', {"class": 'companyLocation'}).text

        salary_con = job.find('div', {"class": 'salary-snippet-container'})
        if salary_con: 
            salary = salary_con.text
        else:
            salary = None


        status_con = job.find('svg', {"aria-label": "Job type"})
        if status_con:
            status = status_con.parent.text
        else:
            status = None

        data = {}
        data["job_title"] = title
        data["job_link"] = link
        data["company"] = company
        data["company_link"] = company_link
        data["company_rating"] = rating
        data["location"] = loc
        data["salary"] = salary
        data["status"] = status
        rows.append(data)
    
    browser.links.find_by_text(f"{i+1}").click()
        
df = pd.DataFrame(rows)
df.head()

,job_title,job_link,company,company_link,company_rating,location,salary,status
0,IT Business Analyst III Virtual Hiring Event,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Bt...,"Inogen, Inc.",www.indeed.com/cmp/Inogen,2.9,"Plano, TX 75074","$116,800 a year",Full-time
1,Board Certified Behavior Analyst (BCBA),www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0A6...,Club Z! Tutoring,www.indeed.com/cmp/Club-Z!-In--home-Tutoring-S...,4.3,"Sarasota, FL","$65,000 - $85,000 a year",Full-time
2,IT Business Analyst,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0A1...,Vital Services,www.indeed.com/cmp/Vital-Services,4.1,"Richardson, TX 75080","$66,000 - $88,000 a year",Full-time
3,Business Analyst,www.indeed.com/rc/clk?jk=d8cd96e907b342d2&fcci...,"City of Plano, Texas","www.indeed.com/cmp/City-of-Plano,-Texas-1",4.0,"Plano, TX",$41.60 an hour,Full-time
4,Data Analyst Programming Specialist,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0CD...,National Indemnity Company,www.indeed.com/cmp/National-Indemnity-Company,4.1,"Omaha, NE",None,Full-time

In [41]:
len(df)

210

In [28]:
browser.links.find_by_text("2").click()

In [32]:
len(df)

210

In [42]:
df.head(20)

,job_title,job_link,company,company_link,company_rating,location,salary,status
0,IT Business Analyst III Virtual Hiring Event,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Bt...,"Inogen, Inc.",www.indeed.com/cmp/Inogen,2.9,"Plano, TX 75074","$116,800 a year",Full-time
1,Board Certified Behavior Analyst (BCBA),www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0A6...,Club Z! Tutoring,www.indeed.com/cmp/Club-Z!-In--home-Tutoring-S...,4.3,"Sarasota, FL","$65,000 - $85,000 a year",Full-time
2,IT Business Analyst,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0A1...,Vital Services,www.indeed.com/cmp/Vital-Services,4.1,"Richardson, TX 75080","$66,000 - $88,000 a year",Full-time
3,Business Analyst,www.indeed.com/rc/clk?jk=d8cd96e907b342d2&fcci...,"City of Plano, Texas","www.indeed.com/cmp/City-of-Plano,-Texas-1",4.0,"Plano, TX",$41.60 an hour,Full-time
4,Data Analyst Programming Specialist,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0CD...,National Indemnity Company,www.indeed.com/cmp/National-Indemnity-Company,4.1,"Omaha, NE",None,Full-time
5,Data Analyst II,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0CR...,Superior HealthPlan,www.indeed.com/cmp/Centene,3.2,Remote in Texas,None,None
6,Data Analyst,www.indeed.com/rc/clk?jk=45fb1e57894adc6d&fcci...,Disney,www.indeed.com/cmp/The-Walt-Disney-Company,4.1,"Remote in Santa Monica, CA 90401","$87,900 - $137,300 a year",None
7,Enterprise Data Analyst Junior,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0A_...,GENERIS TEK STAFFING PRIVATE LIMITED,None,None,"Denver, CO 80204 (Sun Valley area)",$62 - $100 an hour,Contract
8,Program Analyst,www.indeed.com/rc/clk?jk=63865d3dee1a1675&fcci...,US Centers for Medicare & Medicaid Services,www.indeed.com/cmp/Centers-For-Medicare-and-Me...,4.0,"Remote in Wallops Island, VA","$81,216 - $105,579 a year",Full-time +1
9,Lead IT Business Analyst – Power & Natural Gas,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0C5...,Trafigura,www.indeed.com/cmp/Trafigura,3.7,"Houston, TX",None,Full-time
10,Pharmacy Operations Support Data Analyst,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0BY...,MMM Holdings,None,None,"San Juan, PR",None,Full-time
11,Business Analyst,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0A-...,Doosan Bobcat,www.indeed.com/cmp/Doosan,3.7,"Johnson Creek, WI 53038",None,Full-time
12,Data Analyst - Remote,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Dx...,Symetra,www.indeed.com/cmp/Symetra,3.2,"Remote in Bellevue, WA 98004","$71,700 - $119,500 a year",Full-time
13,"Analyst Data – New York, NY - Hybrid-Remote – Day",www.indeed.com/rc/clk?jk=fe79bba748edfca7&fcci...,NewYork-Presbyterian Hospital,www.indeed.com/cmp/Newyork--presbyterian-Hospital,4.2,"Remote in Manhattan, NY 10065","$68,500 - $92,500 a year",Full-time
14,Fiscal Planning Analytics Team Analyst,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0DA...,"Disney Parks, Experiences and Products","www.indeed.com/cmp/Disney-Parks,-Experiences-a...",4.2,"Celebration, FL 34747",None,None
15,Integrity Analyst,www.indeed.com/rc/clk?jk=e18500acd7bd1cc3&fcci...,Pinterest,www.indeed.com/cmp/Pinterest,4.2,Remote,None,None
16,Data Analyst - Remote,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Dx...,Symetra,www.indeed.com/cmp/Symetra,3.2,"Remote in Bellevue, WA 98004","$71,700 - $119,500 a year",Full-time
17,Data Analyst,www.indeed.com/rc/clk?jk=058f2488553cccd6&fcci...,Autodesk,www.indeed.com/cmp/Autodesk,4.1,"Remote in San Francisco, CA",None,Full-time
18,"Strategy & Planning Analyst, New Verticals",www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0AV...,Uber,www.indeed.com/cmp/Uber,3.6,"Dallas, TX 75226",None,Full-time
19,Business Intelligence Analyst III (Marketing W...,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Cs...,The Pokémon Company International,www.indeed.com/cmp/The-Pok%C3%A9mon-Company-In...,3.9,"Hybrid remote in Bellevue, WA","$97,000 - $147,000 a year",None

In [43]:
#
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         209 non-null    object
 3   company_link    161 non-null    object
 4   company_rating  161 non-null    object
 5   location        210 non-null    object
 6   salary          99 non-null     object
 7   status          150 non-null    object
dtypes: object(8)
memory usage: 13.2+ KB

In [46]:
#
df.location.value_counts()

Remote                                        42
Plano, TX                                     10
Austin, TX                                     8
Remote in United States                        7
Plano, TX 75024                                7
                                              ..
Irving, TX 75038                               1
Hybrid remote in Seattle, WA                   1
Remote in Melville, NY 11747                   1
Frisco, TX                                     1
Irving, TX 75063 (Freeport/Hackberry area)     1
Name: location, Length: 114, dtype: int64

In [64]:
#
def getState(loc):
    if "," in loc:
        state = loc.replace("\xa0", " ").split(",")[1].strip().split(" ")[0].strip()
    else:
        state = None
        
    return(state)

In [62]:
#
getState("Austin, TX (Downtown area)")

'TX'

In [65]:
#
df["state"] = df.location.apply(lambda x: getState(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         209 non-null    object
 3   company_link    161 non-null    object
 4   company_rating  161 non-null    object
 5   location        210 non-null    object
 6   salary          99 non-null     object
 7   status          150 non-null    object
 8   state           151 non-null    object
dtypes: object(9)
memory usage: 14.9+ KB

In [66]:
#
df.state.value_counts()

TX    88
CA    12
NY    12
WA     7
GA     4
FL     3
VA     3
MA     3
CT     2
MI     2
PA     2
OR     2
CO     2
MN     1
MO     1
UT     1
WI     1
PR     1
TN     1
NE     1
NJ     1
OK     1
Name: state, dtype: int64

In [61]:
#
df.loc[df.location.str.contains("\(Downtown")]

,job_title,job_link,company,company_link,company_rating,location,salary,status,state
27,"Analyst Sr. - IS Technical, Microsoft BI/SQL",www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Ay...,Westlake Corporation,www.indeed.com/cmp/Westlake-Chemical,3.4,"Houston, TX 77002 (Downtown area)",None,Full-time,TX
32,"Analyst Sr. - IS Technical, Microsoft BI/SQL",www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Ay...,Westlake Corporation,www.indeed.com/cmp/Westlake-Chemical,3.4,"Houston, TX 77002 (Downtown area)",None,Full-time,TX
39,"THECB - Data Analyst V, Visualization",www.indeed.com/rc/clk?jk=87d4703c7888a6f7&fcci...,TEXAS HIGHER EDUCATION COORDINATING BOARD,www.indeed.com/cmp/Texas-Higher-Education-Coor...,3.8,"Austin, TX 78701 (Downtown area)","$6,017 - $8,266 a month",Full-time,TX
61,"Analyst Sr. - IS Technical, Microsoft BI/SQL",www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Ay...,Westlake Corporation,www.indeed.com/cmp/Westlake-Chemical,3.4,"Houston, TX 77002 (Downtown area)",None,Full-time,TX
71,"Cloud Consultant, Big Data Analytics, Looker, ...",www.indeed.com/rc/clk?jk=abf4ea6cd747a933&fcci...,Google,www.indeed.com/cmp/Google,4.3,"Austin, TX (Downtown area)",None,Full-time,TX (Downtown

In [63]:
df.iloc[71].location

'Austin, TX\xa0(Downtown area)'

In [72]:
#
def getRemote(loc):
    if "remote" in loc.lower():
        return(True)
    else:
        return(False)

In [73]:
#
df["is_remote"] = df.location.apply(lambda x: getRemote(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         209 non-null    object
 3   company_link    161 non-null    object
 4   company_rating  161 non-null    object
 5   location        210 non-null    object
 6   salary          99 non-null     object
 7   status          150 non-null    object
 8   state           151 non-null    object
 9   is_remote       210 non-null    bool
dtypes: bool(1), object(9)
memory usage: 15.1+ KB

In [74]:
df.is_remote.value_counts()

False    114
True      96
Name: is_remote, dtype: int64

In [76]:
#
def getCity(loc):
    if "," in loc:
        city_list = loc.replace("\xa0", " ").split(",")[0].strip().split(" ")
        city = city_list[0] if len(city_list) ==1 else city_list[1]
    else:
        city = None
        
    return(city)

In [77]:
df["city"] = df.location.apply(lambda x: getCity(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         209 non-null    object
 3   company_link    161 non-null    object
 4   company_rating  161 non-null    object
 5   location        210 non-null    object
 6   salary          99 non-null     object
 7   status          150 non-null    object
 8   state           151 non-null    object
 9   is_remote       210 non-null    bool
 10  city            151 non-null    object
dtypes: bool(1), object(10)
memory usage: 16.7+ KB

In [78]:
#
df.city.value_counts()

in             32
Plano          25
Dallas         15
Austin         11
remote          8
York            7
Houston         5
Richardson      4
Irving          3
Detroit         2
Worth           2
Seattle         2
Addison         2
Francisco       2
Gables          1
Beaverton       1
Carrollton      1
Duncan          1
Princeton       1
Pittsburgh      1
Cambridge       1
Boston          1
Antonio         1
Omaha           1
Monica          1
Reston          1
Denver          1
Pleasant        1
Denton          1
City            1
Rochester       1
Beach           1
Lake            1
Juan            1
Creek           1
O'Fallon        1
Celebration     1
Sarasota        1
Lewisville      1
Frisco          1
Katy            1
Coppell         1
Westlake        1
Macon           1
McKinney        1
Name: city, dtype: int64

In [79]:
df.loc[df.location.str.contains("in")]

,job_title,job_link,company,company_link,company_rating,location,salary,status,state,is_remote,city
5,Data Analyst II,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0CR...,Superior HealthPlan,www.indeed.com/cmp/Centene,3.2,Remote in Texas,None,None,None,True,None
6,Data Analyst,www.indeed.com/rc/clk?jk=45fb1e57894adc6d&fcci...,Disney,www.indeed.com/cmp/The-Walt-Disney-Company,4.1,"Remote in Santa Monica, CA 90401","$87,900 - $137,300 a year",None,CA,True,in
8,Program Analyst,www.indeed.com/rc/clk?jk=63865d3dee1a1675&fcci...,US Centers for Medicare & Medicaid Services,www.indeed.com/cmp/Centers-For-Medicare-and-Me...,4.0,"Remote in Wallops Island, VA","$81,216 - $105,579 a year",Full-time +1,VA,True,in
12,Data Analyst - Remote,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Dx...,Symetra,www.indeed.com/cmp/Symetra,3.2,"Remote in Bellevue, WA 98004","$71,700 - $119,500 a year",Full-time,WA,True,in
13,"Analyst Data – New York, NY - Hybrid-Remote – Day",www.indeed.com/rc/clk?jk=fe79bba748edfca7&fcci...,NewYork-Presbyterian Hospital,www.indeed.com/cmp/Newyork--presbyterian-Hospital,4.2,"Remote in Manhattan, NY 10065","$68,500 - $92,500 a year",Full-time,NY,True,in
...,...,...,...,...,...,...,...,...,...,...,...
200,"Data Analyst, Privacy",www.indeed.com/rc/clk?jk=e24bcf2b3be14573&fcci...,Datavant,www.indeed.com/cmp/Datavant,3.1,"Remote in New York, NY",None,None,NY,True,in
203,Hybrid Threat Intelligence Analyst - Remote,www.indeed.com/rc/clk?jk=f4377d03103c4bf1&fcci...,"Center for Internet Security, Inc.",www.indeed.com/cmp/Center-For-Internet-Security,4.5,Remote in United States,None,Full-time,None,True,None
205,Technical Business Analyst,www.indeed.com/rc/clk?jk=5925960f673de598&fcci...,Warner Music Group,www.indeed.com/cmp/Warner-Music-Group,4.1,"Remote in Los Angeles, CA 90028","$85,000 - $95,000 a year",Full-time,CA,True,in
208,BI Analyst,www.indeed.com/rc/clk?jk=f59038df41b1b296&fcci...,Nuanza,None,None,"McKinney, TX 75070",None,None,TX,False,McKinney
209,Web Data Analyst,www.indeed.com/company/Michaels/jobs/Web-Data-...,Michaels,www.indeed.com/cmp/Michaels,3.5,"Irving, TX 75063 (Freeport/Hackberry area)",None,Full-time,TX,False,Irving

In [ ]:
#Set-up sleep function
# browser.visit(dice_lyst)
# time.sleep(2)

In [80]:
def getAd(link):
    if "pagead" in link.lower():
        return(True)
    else:
        return(False)

In [81]:
df["is_ad"] = df.job_link.apply(lambda x: getAd(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         209 non-null    object
 3   company_link    161 non-null    object
 4   company_rating  161 non-null    object
 5   location        210 non-null    object
 6   salary          99 non-null     object
 7   status          150 non-null    object
 8   state           151 non-null    object
 9   is_remote       210 non-null    bool
 10  city            151 non-null    object
 11  is_ad           210 non-null    bool
dtypes: bool(2), object(10)
memory usage: 16.9+ KB

In [82]:
df.is_ad.value_counts()

False    179
True      31
Name: is_ad, dtype: int64

In [85]:
#Paying for Ads, add to main job table as bool
df.groupby("company").is_ad.sum().sort_values(ascending=False)

company
MST Solutions                              3
Westlake Corporation                       3
Leadstack Inc                              2
Wollborg Michelson Recruiting              2
Merchant Centric                           2
                                          ..
GP Mobile, A T-Mobile Premium Retailer     0
GeneDx                                     0
General Dynamics Information Technology    0
General Motors                             0
precision technologies corp                0
Name: is_ad, Length: 176, dtype: int64