In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import time
from sqlalchemy import inspect, create_engine
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.58M/6.58M [00:00<00:00, 15.2MB/s]

In [3]:
# HOSTNAME = "localhost"
# PORT = 5432
# DATABASE = "diapers_db"
# USERNAME = "postgres"
# PASSWORD = "password"
# path = f'postgresql+psycopg2://{USERNAME}:{PASSWORD}@{HOSTNAME}:{PORT}/{DATABASE}'
# engine = create_engine(path)

In [4]:
# conn = engine.connect()

In [3]:
#Website searching Data Analyst positions
indeed = "https://www.indeed.com/jobs?q=data+analyst"

browser.visit(indeed)

In [4]:
html = browser.html
html[0:500]

'<html dir="ltr" lang="en" class="js-focus-visible" data-js-focus-visible=""><head>\n    <link rel="shortcut icon" href="/images/favicon.ico">\n    <title>Data Analyst Jobs, Employment | Indeed.com</title>\n    <meta http-equiv="content-type" content="text/html; charset=utf-8">\n    <meta name="description" content="28,086 Data Analyst jobs available on Indeed.com. Apply to Data Analyst, Entry Level Data Analyst, Senior Data Analyst and more!">\n    <meta name="keywords" content="Data Analyst Jobs, Em'

In [5]:
soup = BeautifulSoup(browser.html, "html.parser")
#print(soup.prettify())

In [6]:
soup= BeautifulSoup(browser.html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [7]:
#Find code to loop through web page and pull the title of the job and possibly the location, then find code to click the job and acquire the salary.
jobs = soup.find_all('div', {'class': 'cardOutline'})
len(jobs)

15

In [8]:
#Find the jobs titles for positions and the link IF available
job = jobs[0]
title = job.find('a', {"class": 'jcs-JobTitle'}).text
link = "www.indeed.com" + job.find('a', {"class": 'jcs-JobTitle'})["href"]

In [9]:
#Find company name and the link IF available
company = job.find('a', {"class": 'companyOverviewLink'}).text
company_link = "www.indeed.com" + job.find('a', {"class": 'companyOverviewLink'})["href"]

In [10]:
#Find the rating for the company/job
rating = job.find('span', {"class": 'ratingNumber'}).text
rating

'2.6'

In [11]:
#Find the location of the job listing
loc = job.find('div', {"class": 'companyLocation'}).text
loc

'Dallas, TX 75229\xa0(Northwest Dallas area)'

In [55]:
#Find the salary for the job listing
salary = job.find('div', {"class": 'salary-snippet-container'}).text
salary

'$83,000 - $88,000 a year'

In [14]:
#Pull the text only from the parent for job salary
job.find('svg', {"aria-label": "Job type"}).parent.text

'Full-time'

In [15]:
#
rows = []
browser.visit(indeed)
for i in range(1, 15):
    
    html = browser.html
    soup = BeautifulSoup(browser.html, "html.parser")
    jobs = soup.find_all('div', {'class': 'cardOutline'})
    
    
    for job in jobs:
        title = job.find('a', {"class": 'jcs-JobTitle'}).text
        link = "www.indeed.com" + job.find('a', {"class": 'jcs-JobTitle'})["href"]

        company_name = job.find('span', {'class': 'companyName'})
        if company_name: 
            company = company_name.text
        else:
            company = None
        
        company_con = job.find('a', {"class": 'companyOverviewLink'})
        if company_con: 
            company_link = "www.indeed.com" + company_con["href"]
        else:
            company_link = None

        rating_con = job.find('span', {"class": 'ratingNumber'})
        if rating_con: 
            rating = rating_con.text
        else:
            rating = None


        loc = job.find('div', {"class": 'companyLocation'}).text

        salary_con = job.find('div', {"class": 'salary-snippet-container'})
        if salary_con: 
            salary = salary_con.text
        else:
            salary = None


        status_con = job.find('svg', {"aria-label": "Job type"})
        if status_con:
            status = status_con.parent.text
        else:
            status = None

        data = {}
        data["job_title"] = title
        data["job_link"] = link
        data["company"] = company
        data["company_link"] = company_link
        data["company_rating"] = rating
        data["location"] = loc
        data["salary"] = salary
        data["status"] = status
        rows.append(data)
    
    browser.links.find_by_text(f"{i+1}").click()
        
df = pd.DataFrame(rows)
df.head()

,job_title,job_link,company,company_link,company_rating,location,salary,status
0,ISD Architect I (Senior Data Analyst),www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0C1...,Navy Federal Credit Union,www.indeed.com/cmp/Navy-Federal-Credit-Union,3.9,"Pensacola, FL","$95,600 - $163,500 a year",Full-time +1
1,Business Data Analyst - Operations,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Av...,Summit Companies,www.indeed.com/cmp/Summit-Companies,2.9,"Mendota Heights, MN 55120","$65,000 - $85,000 a year",Full-time
2,Data Analyst,www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0Bb...,Allied Stone Inc,"www.indeed.com/cmp/Allied-Stone,-Inc.",2.6,"Dallas, TX 75229 (Northwest Dallas area)",None,Full-time
3,Entry level Business /Data Analyst,www.indeed.com/company/TRESUME/jobs/Entry-Leve...,TRESUME,None,None,"Dallas, TX",$30 - $35 an hour,Full-time
4,Data Analyst,www.indeed.com/company/Devcare-Solutions/jobs/...,Devcare Solutions,www.indeed.com/cmp/Devcare-Solutions,3.7,Remote,"$100,000 - $110,000 a year",Full-time +1

In [16]:
len(df)

210

In [17]:
df["company_rating"] = pd.to_numeric(df.company_rating)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         210 non-null    object
 3   company_link    140 non-null    object
 4   company_rating  140 non-null    float64
 5   location        210 non-null    object
 6   salary          121 non-null    object
 7   status          163 non-null    object
dtypes: float64(1), object(7)
memory usage: 13.2+ KB

In [18]:
df.status.value_counts()

Full-time       98
Contract        40
Full-time +1    13
Full-time +2     4
Contract +1      3
Part-time        2
Temporary        2
Internship       1
Name: status, dtype: int64

In [19]:
#combine with regex s=space d=catch or match all numbers \+ = plus sign matches plus sign, regex meaning.
df["status"] = df.status.str.replace("\s\+\d","")

C:\Users\19722\AppData\Local\Temp\ipykernel_7444\152645899.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["status"] = df.status.str.replace("\s\+\d","")

In [20]:
df.status.value_counts()

Full-time     115
Contract       43
Part-time       2
Temporary       2
Internship      1
Name: status, dtype: int64

In [21]:
#Status column -  ID, name, last_updated
df.status.unique()

array(['Full-time', 'Contract', 'Part-time', None, 'Temporary',
       'Internship'], dtype=object)

In [22]:
#Status lookup table
status = df.status.dropna().unique()
status_df = pd.DataFrame()
status_df["status"] = status
status_df

       status
0   Full-time
1    Contract
2   Part-time
3   Temporary
4  Internship

In [24]:
#Company lookup table, revised to drop the 2nd Insight Global below
companies = df.loc[:,["company","company_link", "company_rating"]].drop_duplicates().reset_index(drop=True)
companies.company.value_counts()

Insight Global                                  2
Navy Federal Credit Union                       1
Scope Services Inc                              1
Clairvoyant                                     1
KesarWeb                                        1
                                               ..
Toyota                                          1
RAC Brands                                      1
Booz Allen Hamilton                             1
Raytheon Technologies Corporate Headquarters    1
Planned Parenthood Federation of America        1
Name: company, Length: 196, dtype: int64

In [25]:
companies.loc[companies.company == "Insight Global"]

            company                       company_link  company_rating
121  Insight Global                               None             NaN
130  Insight Global  www.indeed.com/cmp/Insight-Global             3.9

In [26]:
df.loc[df.company == "Insight Global", "company_link"] = "www.indeed.com/cmp/Insight-Global"
df.loc[df.company == "Insight Global", "company_rating"] = 3.9

In [38]:
companies = df.loc[:,["company","company_link", "company_rating"]].drop_duplicates().reset_index(drop=True)
companies.company.value_counts()

Navy Federal Credit Union                       1
Larsen and Toubro (L&T)                         1
Clairvoyant                                     1
KesarWeb                                        1
TikTok                                          1
                                               ..
Toyota                                          1
RAC Brands                                      1
Booz Allen Hamilton                             1
Raytheon Technologies Corporate Headquarters    1
Planned Parenthood Federation of America        1
Name: company, Length: 196, dtype: int64

In [39]:
#State 
def getState(loc):
    if "," in loc:
        state = loc.replace("\xa0", " ").split(",")[1].strip().split(" ")[0].strip()
    else:
        state = None
        
    return(state)

In [40]:
#Find the locations with"Downtown area"
getState("Austin, TX (Downtown area)")

'TX'

In [41]:
#
df["state"] = df.location.apply(lambda x: getState(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         210 non-null    object
 3   company_link    141 non-null    object
 4   company_rating  141 non-null    float64
 5   location        210 non-null    object
 6   salary          121 non-null    object
 7   status          163 non-null    object
 8   state           160 non-null    object
dtypes: float64(1), object(8)
memory usage: 14.9+ KB

In [42]:
#
df.state.value_counts()

TX    61
CA    21
NY    11
IL     8
VA     8
GA     6
CO     5
FL     4
NC     4
NJ     3
PA     3
WA     3
MA     2
MD     2
OH     2
IN     2
KY     2
WI     2
OR     2
CT     1
SC     1
MN     1
DC     1
AZ     1
AR     1
IA     1
OK     1
MI     1
Name: state, dtype: int64

In [43]:
#
df.loc[df.location.str.contains("\(Downtown")]

,job_title,job_link,company,company_link,company_rating,location,salary,status,state
87,Jr. Data Analyst/ Assistant,www.indeed.com/company/RPO-International/jobs/...,RPO International,None,NaN,"Houston, TX 77002 (Downtown area)",Up to $28 an hour,Contract,TX

In [44]:
df.iloc[71].location

'Remote in Katy, TX 77449'

In [46]:
#State look-up table
state = df.state.dropna().unique()
state_df = pd.DataFrame()
state_df["state"] = state
state_df

   state
0     FL
1     MN
2     TX
3     IL
4     CA
5     NC
6     OR
7     CO
8     VA
9     GA
10    NY
11    WI
12    AR
13    KY
14    IN
15    CT
16    NJ
17    SC
18    WA
19    DC
20    OH
21    AZ
22    PA
23    IA
24    MD
25    MA
26    OK
27    MI

In [47]:
#
def getRemote(loc):
    if "remote" in loc.lower():
        return(True)
    else:
        return(False)

In [48]:
#
df["is_remote"] = df.location.apply(lambda x: getRemote(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         210 non-null    object
 3   company_link    141 non-null    object
 4   company_rating  141 non-null    float64
 5   location        210 non-null    object
 6   salary          121 non-null    object
 7   status          163 non-null    object
 8   state           160 non-null    object
 9   is_remote       210 non-null    bool
dtypes: bool(1), float64(1), object(8)
memory usage: 15.1+ KB

In [49]:
df.is_remote.value_counts()

False    112
True      98
Name: is_remote, dtype: int64

In [51]:
#Find the companies paying for ads
def getAd(link):
    if "pagead" in link.lower():
        return(True)
    else:
        return(False)

In [52]:
df["is_ad"] = df.job_link.apply(lambda x: getAd(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   job_title       210 non-null    object
 1   job_link        210 non-null    object
 2   company         210 non-null    object
 3   company_link    141 non-null    object
 4   company_rating  141 non-null    float64
 5   location        210 non-null    object
 6   salary          121 non-null    object
 7   status          163 non-null    object
 8   state           160 non-null    object
 9   is_remote       210 non-null    bool
 10  is_ad           210 non-null    bool
dtypes: bool(2), float64(1), object(8)
memory usage: 15.3+ KB

In [53]:
df.is_ad.value_counts()

False    126
True      84
Name: is_ad, dtype: int64

In [54]:
#Paying for Ads, add to main job table as bool
df.groupby("company").is_ad.sum().sort_values(ascending=False)

company
Guidehouse                         2
Liberty Mutual Insurance           2
Kforce                             2
NATIONAL GRID CO USA (NE POWER)    2
NPAworldwide                       2
                                  ..
Home Depot / THD                   0
HomeRiver Group                    0
Imprimis                           0
Ingress IT Solutions               0
itexpertus                         0
Name: is_ad, Length: 196, dtype: int64

In [50]:
#Don't worry about it
# def getCity(loc):
#     if "," in loc:
#         city_list = loc.replace("\xa0", " ").split(",")[0].strip().split(" ")
#         city = city_list[0] if len(city_list) ==1 else city_list[1]
#     else:
#         city = None
        
#     return(city)

In [ ]:
# df["city"] = df.location.apply(lambda x: getCity(x))
# df.info()

In [ ]:
# #
# df.city.value_counts()

In [ ]:
#
# df.loc[df.location.str.contains("in")]

In [ ]:
#Set-up sleep function if needed
# browser.visit(dice_lyst)
# time.sleep(2)